services:
  site:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
    environment:
      - MODEL_NAME=${MODEL_NAME:-anthropic:claude-3-7-sonnet-latest}
      - TEMPERATURE=${TEMPERATURE:-0}
      - ANTHROPIC_API_KEY
      - GOOGLE_API_KEY
      - HTTP_PROXY
      - HTTPS_PROXY
      - NO_PROXY=${NO_PROXY:-127.0.0.1,localhost}
      - DB_URI=postgresql://geocontext:${PGPASSWORD:-ChangeIt}@db:5432/geocontext
      - CONTACT_EMAIL=${CONTACT_EMAIL:-dev@localhost}
      - GEOCONTEXT_LOG_LEVEL=${GEOCONTEXT_LOG_LEVEL:-error}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
    read_only: true
    volumes:
      - site-tmp:/tmp
      - site-uv-cache:/home/ubuntu/.cache/uv
      - site-uv-tools:/home/ubuntu/.local/share/uv/tools
      - site-npm:/home/ubuntu/.npm
    ports:
      - 8000:8000

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=geocontext
      - POSTGRES_PASSWORD=${PGPASSWORD:-ChangeIt}
    ports:
       - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  # allows to test oauth2-proxy on http://localhost:8001
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0-alpine
    command: ["/bin/oauth2-proxy", "--errors-to-info-log"]
    deploy:
      mode: replicated
      replicas: ${OAUTH2_PROXY_ENABLED:-0}
    environment:
    - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
    - OAUTH2_PROXY_REVERSE_PROXY=true
    - OAUTH2_PROXY_UPSTREAMS=http://site:8000/
    # dummy secret for DEV
    # see https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/#generating-a-cookie-secret
    - OAUTH2_PROXY_COOKIE_SECRET=Sfl1tWxx7llsv0UrLzquT696f4Vytblg2reUe5DhH6k=
    - OAUTH2_PROXY_REDIRECT_URL=http://localhost:8001/oauth2/callback
    # OIDC provider configuration
    - OAUTH2_PROXY_PROVIDER=keycloak-oidc
    - OAUTH2_PROXY_OIDC_ISSUER_URL=${OIDC_ISSUER_URL:-https://sso.geopf.fr/realms/IGN-MUT}
    - OAUTH2_PROXY_CLIENT_ID=${OIDC_CLIENT_ID:-geocontext-dev}
    - OAUTH2_PROXY_CLIENT_SECRET=${OIDC_CLIENT_SECRET:-NotCommitableSecret}
    - OAUTH2_PROXY_OIDC_EMAIL_CLAIM=email
    #- OAUTH2_PROXY_GROUPS_CLAIM=groups
    # basic filtering
    - OAUTH2_PROXY_EMAIL_DOMAINS=*
    # Proxy settings
    - HTTP_PROXY
    - HTTPS_PROXY
    - NO_PROXY=${NO_PROXY:-127.0.0.1,localhost},site
    ports:
      - 8001:4180
    restart: unless-stopped

volumes:
  pgdata:
    name: geocontext-pgdata
  site-tmp:
    name: geocontext-site-tmp
  site-uv-cache:
    name: geocontext-site-uv-cache
  site-uv-tools:
    name: geocontext-site-uv-tools
  site-npm:
    name: geocontext-site-npm
