services:
  site:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
    environment:
      - MODEL_NAME=${MODEL_NAME:-anthropic:claude-3-7-sonnet-latest}
      - TEMPERATURE=${TEMPERATURE:-0}
      - ANTHROPIC_API_KEY
      - GOOGLE_API_KEY
      - HTTP_PROXY
      - HTTPS_PROXY
      - NO_PROXY=${NO_PROXY:-127.0.0.1,localhost}
      - DB_URI=postgresql://geocontext:${PGPASSWORD:-ChangeIt}@db:5432/geocontext
    read_only: true
    volumes:
      - site-tmp:/tmp
      - site-uv-cache:/home/ubuntu/.cache/uv
      - site-uv-tools:/home/ubuntu/.local/share/uv/tools
      - site-npm:/home/ubuntu/.npm

    ports:
      - 8000:8000

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=geocontext
      - POSTGRES_PASSWORD=${PGPASSWORD:-ChangeIt}
    # ports:
    #   - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
    name: geocontext-pgdata
  site-tmp:
    name: geocontext-site-tmp
  site-uv-cache:
    name: geocontext-site-uv-cache
  site-uv-tools:
    name: geocontext-site-uv-tools
  site-npm:
    name: geocontext-site-npm
